<div class="references">
  <h2 class="section-title">
    <span class="icon-holder"><i class="fas fa-address-book"></i></span> References
  </h2>
  <div class="reference-item">
    <h3>Prof. Joseph Esquivel</h3>
    <p><strong>Position:</strong> College Professor</p>
    <p><strong>Company:</strong> Holy Angel University</p>
    <p><strong>Email:</strong> jesquivel&#64;hau.edu.ph</p>
  </div>
  <div class="reference-item">
    <h3>Prof. Chris Almocera</h3>
    <p><strong>Position:</strong> College Professor</p>
    <p><strong>Company:</strong> Holy Angel University</p>
    <p><strong>Email:</strong> calmocera&#64;hau.edu.ph</p>
  </div>
</div>
