<div class="training">
  <h2 class="section-title">
    <span class="icon-holder"><i class="fas fa-chalkboard-teacher"></i></span> Training
  </h2>
  <div class="skills">
    <h3>Skills</h3>
    <ul>
      <li><strong>Vue</strong>: Intermediate</li>
      <li><strong>Firebase</strong>: Intermediate</li>
      <li><strong>JavaScript</strong>: Advanced</li>
      <li><strong>Angular</strong>: Beginner</li>
      <li><strong>HTML & CSS</strong>: Advanced</li>
    </ul>

  </div>
  <div class="certifications">
    <h3>Certifications</h3>
    <ul>
      <li><strong>Certified Git User</strong> - Git Workshop (October 2024)</li>
      <li><strong>WebFlow</strong> - Webflow University (October 2024)</li>
      <li><strong>Python Programmer</strong> - Udemy (August 2024)</li>
    </ul>
  </div>

</div>
